
/* font colors */
$cream: #ffe2d6;
// $cream: #f3d8c7;

$grey: #a3a3a3;
$blue: #7698b3;

/* button colors */
$mauve: #ce7b91;
$hot-pink: #EA638C;

/* border colors */
$light-grey: rgba(255,255,255,0.7);

/* colors i intend to use */
$light-blue: #b7c3f3;
$rosy-nude: #faa275;
$bright-mauve: #dd7596;
$dark-pink: #ee4266;

/* use of the colors */

$site-title: #ffffff;
$entry-info-bar-text: $grey;
$route-placeholder-color: $cream;
$nav-title: #c799a6;
$nav-link: white;
$default-button-color: $light-blue;

/* -----------------------LIGHTEN & DARKEN */

// Slightly lighten a color
// @access public
// @param {Color} $color - color to tint
// @param {Number} $percentage - percentage of `$color` in returned color
// @return {Color}
@function tint($color, $percentage) {
    @return mix(white, $color, $percentage);
}

// Slightly darken a color
// @access public
// @param {Color} $color - color to shade
// @param {Number} $percentage - percentage of `$color` in returned color
// @return {Color}
@function shade($color, $percentage) {
  @return mix(black, $color, $percentage);
}

// @function burn($)


/* ---------------------------SCROLL BAR */

::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: rgba(245, 245, 245,.1);
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 20px;
    -webkit-box-shadow: inset 0 0 6px $light-grey;

}

body, html {
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100%;
    // font-family: sans-serif;
  }

button {
    appearance: none;
	border: none;
	outline: none;
	background: none;
    cursor: pointer;
}

*:not(h1, span) {
    // the raleway font flashes for the site title before switching to amatic
	margin: 0;
	padding: 0;
	box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    
}

h1 {
    font-family: 'Amatic SC', cursive;
}

  @mixin soft-shadow {
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}


@mixin glass {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(14.7px);
    -webkit-backdrop-filter: blur(14.7px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

@mixin button($background: $default-button-color) {
    @include glass;
    @include soft-shadow;

    // background: none;
    background: $background;
    height: 3rem; 
    width: 10rem;

    border-radius: 10px;
    border: 0px solid $background;

    transition: 0.15s ease-out;

    cursor: pointer;

    /* text */
    color: white;
    font-weight:700;
    font-size:1.1rem;
    letter-spacing: 0.15rem;
    
    &:hover {
        // background: $background;
        // background: transparent;
        background: tint($background, 20);
        transition: 0.15s ease-out;
    }
}

@mixin route-placeholder {
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    color: $route-placeholder-color;
}

@mixin vertical-center {
    display: flex;
    align-items: center;
}



